$primary_color:#f6623e;
$secondary_color:#454545;
$grey_color:#9d9d9d;
$light_color:#FFFFFF;
$font_family:"Jost", sans-serif;
$second_family:"Work Sans", sans-serif;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
}
.container {
  max-width: 1200px;
  margin: auto;
}

.pre_header {
  background-color: $primary_color;
  display: flex;
  justify-content: space-between;
  .p_pre_header {
    font-family: $font_family;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: $light_color;
    padding-top: 15px;
    padding-left: 120px;
    padding-bottom: 15px;
  }
  div {
    display: flex;
    padding-top: 15px;
    a {
      font-family: $font_family;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: $light_color;
      text-decoration: none;
      padding-left: 6px;
      /*&:last-child {
        position: relative;
        &:after {
          border: 1px solid var(--ffffff);
          width: 27px;
          height: 0;
          position: absolute;
          transform: rotate(-90deg);
          opacity: 0.3;
          padding-left: 20px;
        }
      }*/
      &:hover {
        font-weight: bolder;
      }
    }
    .value {
      padding-right: 123px;
      font-family: $font_family;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: $light_color;
        &:before {
          display: inline-block;
          content: "";
          width: 24px;
          height: 16px;
          background-image: url("images/USD.svg");
        }
        &:after {
          content: "";
          background-image: url("images/arrow.svg");
        }
    }
  }
}
.main_header{
  display: flex;
  justify-content: space-between;
  .logo{
    padding-top: 28px;
    padding-left: 109px;
    padding-bottom: 29px;
  }
  nav {
    ul{
    display: inline-block;
    }

  }
}

