/*!*______________________________________________*!@mixin______________________________________________________*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  display: inline-block; }

.container {
  max-width: 1200px;
  margin: auto; }

.orange_button, .banner .container .owl_carousel_div .article_banner .shop_now, .news .container .news_article article a {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #f6623e;
  padding: 13px 25px; }

/*___________________________________________________________header_______________________________________________*/
.pre_header {
  background-color: #f6623e; }
  .pre_header .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; }
    .pre_header .container .p_pre_header {
      font-family: "Jost", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 125%;
      color: #FFFFFF;
      padding-top: 15px;
      padding-left: 30px;
      padding-bottom: 15px; }
      @media screen and (max-width: 480px) {
        .pre_header .container .p_pre_header {
          font-size: 11px;
          padding-left: 10px; } }
    .pre_header .container div {
      display: flex;
      padding-top: 15px; }
      .pre_header .container div a {
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 125%;
        color: #FFFFFF;
        text-decoration: none;
        padding-left: 6px; }
        .pre_header .container div a:hover {
          font-weight: 600; }
      .pre_header .container div .register {
        padding-right: 10px; }
        .pre_header .container div .register:after {
          border: 1px solid var(--ffffff);
          width: 27px;
          height: 0;
          position: absolute;
          transform: rotate(-90deg);
          opacity: 0.3;
          padding-left: 20px; }
      .pre_header .container div:hover {
        font-weight: bolder; }
      .pre_header .container div .value {
        align-items: center;
        display: flex;
        padding-right: 35px;
        padding-bottom: 15px;
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 125%;
        color: #FFFFFF; }
        @media screen and (max-width: 480px) {
          .pre_header .container div .value {
            padding-right: 20px;
            font-size: 11px; } }
        .pre_header .container div .value:before {
          display: inline-block;
          content: "";
          width: 24px;
          height: 16px;
          background-image: url("../images/USD.svg");
          margin-left: 30px;
          margin-right: 5px; }
        .pre_header .container div .value:after {
          display: inline-block;
          content: "";
          width: 8px;
          height: 4px;
          margin-left: 5px;
          background-image: url("../images/arrow.svg"); }

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 20px; }
  .main_header .logo {
    margin-left: 20px; }
  .main_header nav ul {
    display: flex;
    gap: 30px; }
    @media screen and (max-width: 849px) {
      .main_header nav ul {
        display: block; } }
    .main_header nav ul li a {
      font-family: "Jost", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 133%;
      color: #454545;
      text-decoration: none; }
      .main_header nav ul li a:hover {
        color: #f6623e; }
        @media screen and (max-width: 849px) {
          .main_header nav ul li a:hover {
            color: #FFFFFF;
            font-weight: bolder; } }
      @media screen and (max-width: 849px) {
        .main_header nav ul li a {
          color: #FFFFFF; } }
  @media screen and (max-width: 850px) {
    .main_header nav {
      display: none; } }
  @media screen and (max-width: 599px) {
    .main_header nav {
      display: block; } }
  .main_header nav .source {
    margin-right: 20px; }

/*__________________________________________________________banner________________________________________________*/
.banner {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .banner .container {
    height: 641px;
    margin-bottom: 60px; }
    .banner .container .owl_carousel_div {
      display: flex;
      justify-content: flex-end;
      padding-top: 100px; }
      @media screen and (max-width: 800px) {
        .banner .container .owl_carousel_div {
          justify-content: flex-start;
          padding-left: 20px; } }
      .banner .container .owl_carousel_div .article_banner {
        max-width: 450px; }
        .banner .container .owl_carousel_div .article_banner h4 {
          font-family: "Jost", sans-serif;
          font-weight: 600;
          font-size: 20px;
          line-height: 162%;
          color: #f6623e; }
        .banner .container .owl_carousel_div .article_banner h1 {
          font-family: "Jost", sans-serif;
          font-weight: 600;
          font-size: 45px;
          line-height: 129%;
          color: #000000;
          margin-bottom: 15px; }
        .banner .container .owl_carousel_div .article_banner p {
          font-family: "Jost", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 181%;
          color: #454545;
          margin-bottom: 35px; }
        .banner .container .owl_carousel_div .article_banner .shop_now {
          animation: pulse_shop_now infinite 1s; }
          .banner .container .owl_carousel_div .article_banner .shop_now:hover {
            font-weight: bolder; }
@keyframes pulse_shop_now {
  0% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
.owl-dots {
  text-align: end;
  margin-right: 200px; }
  .owl-dots .owl-dot span {
    height: 10px;
    width: 10px;
    background-color: #f6623e;
    margin: 10px;
    display: inline-block;
    border-radius: 50%; }

/*_____________________________________________________deal_____________________________________________________*/
.deal .container {
  text-align: center; }
  .deal .container h3 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 89%;
    color: #000000;
    margin-bottom: 20px; }
  .deal .container .orange_band {
    width: 127px;
    height: 4px;
    background: #f6623e;
    margin-left: 530px;
    margin-bottom: 25px; }
  .deal .container p {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 133%;
    text-align: center;
    color: #454545;
    margin-bottom: 36px; }
  .deal .container .deal_BAD {
    margin-bottom: 120px; }
    .deal .container .deal_BAD ul {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center; }
      .deal .container .deal_BAD ul li {
        max-width: 400px; }
        .deal .container .deal_BAD ul li img {
          margin-bottom: 22px; }
        .deal .container .deal_BAD ul li a {
          font-family: "Jost", sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 133%;
          color: #000000;
          text-decoration: none; }
          .deal .container .deal_BAD ul li a:hover {
            color: #f6623e; }
  .deal .container .payment {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px; }
    @media screen and (max-width: 560px) {
      .deal .container .payment {
        flex-wrap: wrap; } }
    .deal .container .payment article {
      max-width: 170px; }
      .deal .container .payment article img {
        margin-bottom: 22px; }
      .deal .container .payment article h4 {
        margin-bottom: 11px;
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 133%;
        color: #000000; }
      .deal .container .payment article p {
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 125%;
        text-align: center;
        color: #454545; }

/*__________________________________________________health______________________________________________________*/
.health {
  background: #fff8f6; }
  .health .container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 136px; }
    @media screen and (max-width: 1175px) {
      .health .container {
        flex-wrap: wrap; } }
    .health .container .health_article {
      text-align: left;
      max-width: 250px;
      padding-left: 10px; }
      @media screen and (max-width: 1175px) {
        .health .container .health_article {
          max-width: max-content;
          margin-bottom: 20px;
          padding-top: 20px;
          padding-left: 115px; } }
      .health .container .health_article h2 {
        font-family: "Jost", sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 144%;
        letter-spacing: 0.06em;
        color: #000000;
        margin-bottom: 35px; }
      .health .container .health_article p {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 175%;
        color: #454545;
        margin-bottom: 34px; }
      .health .container .health_article a {
        border: 2px solid #f6623e;
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 156%;
        text-align: center;
        color: #000000;
        text-decoration: none;
        padding: 10px 31px 7px 34px;
        transition: background-color 0.6s ease, color 0.4s ease; }
        .health .container .health_article a:hover {
          background-color: #f6623e;
          color: #FFFFFF; }
    .health .container .health_images {
      display: flex; }
      @media screen and (max-width: 1175px) {
        .health .container .health_images {
          justify-content: center;
          gap: 10px; } }
      @media screen and (max-width: 889px) {
        .health .container .health_images {
          flex-wrap: wrap; } }
      .health .container .health_images .two_images {
        max-width: 440px; }
        .health .container .health_images .two_images img:first-of-type {
          margin-bottom: 15px; }
        @media screen and (max-width: 1150px) {
          .health .container .health_images .two_images {
            margin-bottom: 10px; } }
      .health .container .health_images .one_images {
        max-width: 470px; }
        .health .container .health_images .one_images img {
          width: 100%; }

/*
!*____________________________________________*!@product______________________________________________________*/
.product .container {
  text-align: center; }
  .product .container h3 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 89%;
    color: #000000;
    margin-bottom: 58px; }
  .product .container .product_article {
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-bottom: 60px; }
    @media screen and (max-width: 1190px) {
      .product .container .product_article {
        flex-wrap: wrap;
        gap: 30px; } }
    .product .container .product_article article {
      max-width: 397px; }
    .product .container .product_article img {
      margin-bottom: 23px; }
    .product .container .product_article a {
      font-family: "Jost", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.14em;
      color: #000000;
      text-decoration: none;
      margin-bottom: 7px; }
      .product .container .product_article a:hover {
        color: #f6623e; }
    .product .container .product_article p {
      font-family: "Jost", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #f6623e; }
    .product .container .product_article span {
      font-family: "Jost", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-decoration: line-through;
      color: #454545;
      margin-left: 15px; }
  .product .container .all_product {
    border: 2px solid #f6623e;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 156%;
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 10px 31px 7px 34px;
    transition: background-color 0.6s ease, color 0.4s ease;
    margin-bottom: 85px; }
    .product .container .all_product:hover {
      background-color: #f6623e;
      color: #FFFFFF; }

/*_________________________________________________________________reviews________________________________________________*/
.reviews {
  background-image: url("../images/reviews_background.jpg"); }
  .reviews .container {
    display: flex;
    height: 910px;
    align-items: center;
    margin-bottom: 82px; }
    @media screen and (max-width: 889px) {
      .reviews .container {
        flex-wrap: wrap; } }
    .reviews .container article {
      padding-left: 50px;
      max-width: 600px; }
      @media screen and (max-width: 889px) {
        .reviews .container article {
          margin-bottom: 30px;
          padding-top: 150px; } }
      .reviews .container article h4 {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 46px; }
      .reviews .container article h3 {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 25px;
        line-height: 83%;
        letter-spacing: 0.13em;
        text-transform: uppercase;
        color: #f6623e;
        margin-bottom: 24px; }
      .reviews .container article img {
        margin-bottom: 24px; }
      .reviews .container article p {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 169%;
        letter-spacing: 0.04em;
        color: #454545;
        margin-bottom: 20px; }
      .reviews .container article span {
        font-family: "Jost", sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 125%;
        letter-spacing: 0.06em;
        color: #f6623e; }

.shop_all .container {
  text-align: center; }
  .shop_all .container h4 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 89%;
    color: #000000;
    margin-bottom: 50px; }
  .shop_all .container .shop_all_article ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 60px; }
    .shop_all .container .shop_all_article ul li {
      max-width: 397px; }
      .shop_all .container .shop_all_article ul li img {
        margin-bottom: 22px; }
      .shop_all .container .shop_all_article ul li a {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.14em;
        text-align: center;
        color: #000000;
        margin-bottom: 7px;
        text-decoration: none; }
        .shop_all .container .shop_all_article ul li a:hover {
          color: #f6623e; }
      .shop_all .container .shop_all_article ul li p {
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #f6623e; }
      .shop_all .container .shop_all_article ul li span {
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        text-decoration: line-through;
        color: #454545;
        margin-left: 15px; }
  .shop_all .container .all_product {
    border: 2px solid #f6623e;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 156%;
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 10px 31px 7px 34px;
    transition: background-color 0.6s ease, color 0.4s ease;
    margin-bottom: 85px; }
    .shop_all .container .all_product:hover {
      background-color: #f6623e;
      color: #FFFFFF; }

.news .container {
  text-align: center; }
  .news .container h4 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 89%;
    color: #000000;
    margin-bottom: 50px; }
  .news .container .news_article {
    display: flex;
    gap: 10px; }
    @media screen and (max-width: 1150px) {
      .news .container .news_article {
        flex-wrap: wrap;
        justify-content: center; } }
    .news .container .news_article article {
      max-width: 408px;
      text-align: center; }
      .news .container .news_article article img {
        width: 100%;
        margin-bottom: 18px; }
      .news .container .news_article article .date {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 167%;
        color: #f6623e;
        margin-bottom: 2px; }
      .news .container .news_article article h5 {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 200%;
        color: #000000;
        margin-bottom: 2px; }
      .news .container .news_article article p {
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 187%;
        text-align: center;
        color: #454545;
        margin-bottom: 21px; }
      .news .container .news_article article a {
        margin-bottom: 50px;
        border: 2px solid #f6623e;
        transition: background-color 0.6s ease, color 0.4s ease; }
        .news .container .news_article article a:hover {
          color: #f6623e;
          border: 2px solid #f6623e;
          background-color: #FFFFFF; }

.pre_footer .container {
  text-align: center; }
  .pre_footer .container h4 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 89%;
    color: #000000;
    margin-bottom: 41px; }
  .pre_footer .container article {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px; }

footer {
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  footer .container .footer_article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 50px; }
    @media screen and (max-width: 899px) {
      footer .container .footer_article {
        flex-wrap: wrap; } }
    footer .container .footer_article .footer_logo {
      max-width: 300px;
      text-align: center; }
      footer .container .footer_article .footer_logo img {
        margin-bottom: 10px; }
      footer .container .footer_article .footer_logo p {
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        text-align: center;
        color: #454545; }
    footer .container .footer_article .footer_form {
      max-width: 350px;
      text-align: center; }
      footer .container .footer_article .footer_form h4 {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 11px; }
      footer .container .footer_article .footer_form p {
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        text-align: center;
        color: #454545;
        margin-bottom: 32px; }
      footer .container .footer_article .footer_form .footer_input {
        border-bottom: 2px solid #000000;
        width: 365px;
        display: inline-flex;
        justify-content: space-between; }
        footer .container .footer_article .footer_form .footer_input input {
          font-family: "Jost", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 162%;
          text-align: center;
          color: #000000;
          border: none;
          background-color: #fff8f6; }
        footer .container .footer_article .footer_form .footer_input button {
          font-family: "Jost", sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 162%;
          text-transform: uppercase;
          text-align: center;
          color: #f6623e;
          border: none;
          background-color: #fff8f6; }
          footer .container .footer_article .footer_form .footer_input button:hover {
            font-weight: 800; }
    footer .container .footer_article .footer_ul h4 {
      font-family: "Jost", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      color: #000000;
      margin-bottom: 13px; }
    footer .container .footer_article .footer_ul ul li a {
      font-family: "Jost", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 222%;
      color: #454545;
      text-decoration: none; }
      footer .container .footer_article .footer_ul ul li a:hover {
        color: #f6623e; }
  footer .container .copyright {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #9d9d9d;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center; }
    footer .container .copyright .social_media {
      padding-top: 20px; }
      footer .container .copyright .social_media ul {
        display: flex;
        gap: 15px;
        margin-left: 30px; }
    footer .container .copyright p {
      font-family: "Jost", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 162%;
      text-align: center;
      color: #000000; }
      footer .container .copyright p a {
        color: #f6623e;
        font-family: "Jost", sans-serif;
        text-decoration: none;
        font-weight: 400;
        font-size: 13px; }
    footer .container .copyright .pay {
      width: 25%;
      margin-right: 20px; }

/*# sourceMappingURL=style.css.map */
